**/.git
/build
/third_party/
/examples/**/oneflow
/benchmark/**/oneflow
!/build/third_party
.vscode
.idea
.clangd
dist

**/__pycache__
**/*.pyc
**/log
**/.ipynb_checkpoints
**/core.0*
**/core.1*
**/core.2*
**/core.3*
**/core.4*
**/core.5*
**/core.6*
**/core.7*
**/core.8*
**/core.9*

build/third_party/re2/src/re2-*
