[submodule "cub"]
	path = build/third_party/cub/src/cub
	url = https://github.com/NVlabs/cub.git
[submodule "eigen"]
	path = build/third_party/eigen/src/eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "gflags"]
	path = build/third_party/gflags/src/gflags
	url = https://github.com/gflags/gflags
[submodule "glog"]
	path = build/third_party/glog/src/glog
	url = https://github.com/google/glog
[submodule "googletest"]
	path = build/third_party/googletest/src/googletest
	url = https://github.com/google/googletest
[submodule "grpc"]
	path = build/third_party/grpc/src/grpc
	url = https://github.com/yuanms2/grpc
[submodule "libjpeg-turbo"]
	path = build/third_party/libjpeg-turbo/src/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "nccl"]
	path = build/third_party/nccl/src/nccl
	url = https://github.com/NVIDIA/nccl
[submodule "opencv"]
	path = build/third_party/opencv/src/opencv
	url = https://github.com/opencv/opencv
[submodule "protobuf"]
	path = build/third_party/protobuf/src/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "zlib"]
	path = build/third_party/zlib/src/zlib
	url = https://github.com/madler/zlib
[submodule "build/third_party/re2/src/re2"]
	path = build/third_party/re2/src/re2
	url = https://github.com/google/re2.git
[submodule "build/third_party/flatbuffers/src/flatbuffers"]
	path = build/third_party/flatbuffers/src/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "build/third_party/onerec/src/onerec"]
	path = build/third_party/onerec/src/onerec
	url = https://github.com/Oneflow-Inc/onerec.git
[submodule "build/build/third_party/lz4/src/lz4"]
	path = build/build/third_party/lz4/src/lz4
	url = https://github.com/lz4/lz4.git
[submodule "build/third_party/lz4/src/lz4"]
	path = build/third_party/lz4/src/lz4
	url = https://github.com/lz4/lz4.git
