/build
/build-*
/docs/build/
/cmake-build-*
/dist
/third_party/
/examples/**/oneflow
/benchmark/**/oneflow
log/
*plan
core.*
*.pyc
*.ipynb
/.vscode
/.idea
/manylinux*
wheelhouse/
wheelhouse*
.DS_Store
/tmp_wheel
