black==19.10b0 ; python_version >= "3.6"
numpy
protobuf
wheel
tqdm
requests
jinja2
opencv-python; python_version >= "3.9" and sys_platform != 'darwin'
opencv-python==4.2.0.34 ; python_version < '3.9' and sys_platform != 'darwin'
PyYAML
