black==19.10b0; python_version >= "3.6"
click==8.0.0; python_version >= "3.6" # https://github.com/psf/black/issues/2964
numpy>=1.21.6
protobuf>=3.9.2, <4.0
wheel
tqdm
requests
jinja2
opencv-python; python_version >= "3.9" and sys_platform != 'darwin' and platform_machine != 'aarch64'
opencv-python==4.2.0.34; python_version < '3.9' and sys_platform != 'darwin' and platform_machine != 'aarch64'
PyYAML>=5.1
pillow
dataclasses; python_version<"3.7"
cmakelang==0.6.13
pytest-xdist
rich
portalocker
