name: Priv Release

on:
  push:
    branches:
      - priv-release
      - add-cu12-release
  schedule:
    # beijing: 12 pm.
    # utc: 4 am.
    - cron: "0 4 * * *"
  workflow_dispatch:
    inputs:
      priv_branch:
        required: false
        default: "main"

concurrency:
  group: priv-release-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release pip
    permissions:
      contents: read
      pull-requests: write
    uses: Oneflow-Inc/oneflow/.github/workflows/release.yml@add-cu12-release
    with:
      is_priv: true
      branch: ${{ inputs.priv_branch || 'main' }}
    secrets:
      ONEFLOW_PRIV_ORG: ${{ secrets.ONEFLOW_PRIV_ORG }}
      ONEFLOW_PRIV_GH_TOKEN: ${{ secrets.ONEFLOW_PRIV_GH_TOKEN }}
      ONEFLOW_PRIV_OSS_BUCKET: ${{ secrets.ONEFLOW_PRIV_OSS_BUCKET }}
      OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
      OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
