name: Release

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.gitignore'
  workflow_dispatch:
    inputs:
      placeholder:
        description: 'placeholder, no effect'
        required: false
jobs:
  staging_release:
    name: Staging Release
    runs-on: [self-hosted, linux]
    steps:
    - name: Fix permissions
      run: |
        docker run --rm -v $PWD:/p -w /p busybox chmod -R o+w .
    - uses: actions/checkout@v2
    - name: Setup submodule
      uses: ./.github/actions/setup
    - name: Build OneFlow
      run: |
        export ONEFLOW_CI_TMP_DIR=$HOME/ci-tmp-rel-102
        docker run --rm -v $ONEFLOW_CI_TMP_DIR/:$HOME/ci-tmp/ busybox rm -rf $HOME/ci-tmp/wheelhouse
        export ONEFLOW_CI_PYTHON_VERSION_ARGS=" "
        export ONEFLOW_CI_EXTRA_ONEFLOW_CMAKE_ARGS="-DWITH_XLA=OFF"
        export ONEFLOW_CI_BUILD_WHEEL_BASH_ARGS=" "
        export ONEFLOW_CI_PACKAGE_SUFFIX="_cu102"
        if [ -d $ONEFLOW_CI_TMP_DIR/wheelhouse ]; then
            echo "existing wheelhouse found"
            exit 1
        fi
        bash ci/build/make.sh
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        git_branch=${GITHUB_REF##*/}
        timestamp=$(date '+%Y.%m.%d-%H.%M.%S')
        dir=${git_branch}/${timestamp}-${git_hash}
        $HOME/ossutil64 cp --update -r $ONEFLOW_CI_TMP_DIR/wheelhouse oss://oneflow-static/staging/${dir}
  pack_src:
    name: Pack source code
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup submodule
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --recursive
    - name: Pack OneFlow source code
      if: github.ref == 'refs/heads/master'
      env:
        OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
        OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
      run: |
        git reset --hard
        git clean -f
        cd ..
        zip -r oneflow-src.zip oneflow
        curl http://gosspublic.alicdn.com/ossutil/1.6.19/ossutil64 -o $HOME/ossutil64
        chmod 755 $HOME/ossutil64
        $HOME/ossutil64 config -e oss-cn-beijing.aliyuncs.com -i ${OSS_ACCESS_KEY_ID} -k ${OSS_ACCESS_KEY_SECRET}  -L EN -c $HOME/.ossutilconfig
        $HOME/ossutil64 cp --update oneflow-src.zip oss://oneflow-public/oneflow-src.zip
        rm oneflow-src.zip
