name: Build and Test CI

on:
  pull_request:
    types: [synchronize, opened, reopened, ready_for_review]
    branches:
      - '*'
    paths-ignore:
      - '**.md'
      - '.gitignore'
  workflow_dispatch:
    inputs:
      placeholder:
        description: 'placeholder, no effect'
        required: false
jobs:

  check_license_and_format:
    name: License and format
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
    - uses: actions/checkout@v2
    - name: Check license and format (please run 'make of_format' if failed)
      uses: ./.github/actions/fmt

  mirror_third_party:
    name: Mirror third party dependencies
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false && github.base_ref == 'master'
    steps:
    - uses: actions/checkout@v2
    - name: Mirror dependencies to aliyun
      env:
        OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
        OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
      run: |
        python3 -m pip install setuptools wheel
        python3 -m pip install oss2
        python3 tools/package_mirror.py -i cmake

  build_and_test_cuda:
    needs: check_license_and_format
    name: CUDA
    runs-on: [self-hosted, linux, gpu]
    if: github.event.pull_request.draft == false && github.base_ref == 'master'
    env:
      ci_tmp_dir: /home/ci-user/ci-tmp/10.2
    steps:
    - name: Fix permissions
      run: |
        docker run --rm -v $PWD:/p -w /p busybox chmod -R o+w .
    - uses: actions/checkout@v2
    - name: Build OneFlow
      uses: ./.github/actions/whl
      with:
        tmp_dir: ${ci_tmp_dir}
    - name: Build docker image for testing
      run: |
        bash docker/ci/test/build.sh
    - name: Exe test
      run: |
        docker run --shm-size=8g --rm \
          -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo \
          -v ${ci_tmp_dir}:${ci_tmp_dir} \
          -w ${ci_tmp_dir}/build-oneflow/bin \
          oneflow-test \
          ./oneflow_testexe
    - name: Op test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_op_test.sh"
    - name: Op test (eager)
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          --env ONEFLOW_TEST_ENABLE_EAGER=1 \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_op_test.sh"
    - name: Model test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_model_test.sh"
    - name: Benchmark
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_benchmark_test.sh"
    - name: Benchmark FP16
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_benchmark_test_fp16.sh"
    - name: ONNX export test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/onnx_export_model_test.sh"
    - name: Build documentation
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/build_docs.sh"

  build_and_test_xla:
    needs: [check_license_and_format, build_and_test_cuda, mirror_third_party]
    name: XLA
    runs-on: [self-hosted, linux, gpu]
    if: github.event.pull_request.draft == false && github.base_ref == 'master'
    env:
      ci_tmp_dir: /home/ci-user/ci-tmp-xla/10.1-xla
    steps:
    - name: Fix permissions
      run: |
        docker run --rm -v $PWD:/p -w /p busybox chmod -R o+w .
    - uses: actions/checkout@v2
    - name: Build OneFlow
      uses: ./.github/actions/whl
      with:
        cuda_version: 10.1
        extra_flags: --xla
        tmp_dir: ${ci_tmp_dir}
    - name: Build docker image for testing
      run: |
        bash docker/ci/test/build.sh
    - name: Test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          --env ONEFLOW_TEST_CPU_ONLY=1 \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/test_xla.sh"

  build_and_test_cpu:
    needs: [check_license_and_format, build_and_test_cuda]
    name: CPU-only
    runs-on: [self-hosted, linux, gpu]
    if: github.event.pull_request.draft == false && github.base_ref == 'master'
    env:
      ci_tmp_dir: /home/ci-user/ci-tmp-cpu/cpu
    steps:
    - name: Fix permissions
      run: |
        docker run --rm -v $PWD:/p -w /p busybox chmod -R o+w .
    - uses: actions/checkout@v2
    - name: Build OneFlow
      uses: ./.github/actions/whl
      with:
        extra_flags: --cpu
        tmp_dir: ${ci_tmp_dir}
    - name: Build docker image for testing
      run: |
        bash docker/ci/test/build.sh
    - name: Op test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          --env ONEFLOW_TEST_CPU_ONLY=1 \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_op_test.sh"
    - name: Op test (eager)
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          --env ONEFLOW_TEST_CPU_ONLY=1 \
          --env ONEFLOW_TEST_ENABLE_EAGER=1 \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_op_test.sh"
    - name: Model test
      run: |
        docker run --shm-size=8g --rm -v ${ci_tmp_dir}:${ci_tmp_dir} -w $PWD -v $PWD:$PWD -v /dataset:/dataset -v /model_zoo:/model_zoo --env ONEFLOW_WHEEL_PATH=${ci_tmp_dir}/wheelhouse \
          --env ONEFLOW_TEST_CPU_ONLY=1 \
          oneflow-test \
          bash -c "bash ci/test/try_install.sh && bash ci/test/1node_model_test.sh"
